# Database Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=root
MYSQL_PASSWORD=

# API Configuration
DATABASE_URL=mysql://root:password@localhost:3306/database
PUBLIC_API_URL=http://localhost:3001
ACCESS_KEY=secret-key

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001

# MinIO Configuration
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=keep-files
