DATABASE_URL="mysql://username:password@db:3306/keep_files"

# Upload Directory Path (Local Storage)
UPLOAD_DIR="./uploads"

# API URL for generating download links (used by backend)
PUBLIC_API_URL="http://localhost:3001"

# Security Key for Application
ACCESS_KEY="my-super-secret-key"
